table {
    min-width: 90%;
    width: auto;
    margin: auto;
    /*flex: 1;*/
    display: grid;

    /* These are just initial values which are overriden using JavaScript when a column is resized */
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

thead,
tbody,
tr {
    display: contents;
}

th,
td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    top: 0;
    background: linear-gradient(-180deg,#39b1d4 -.04%,#865de8 52.2%);
    text-align: center;
    font-size: 1.1rem;
    color: white;
    position: relative;
}

th:last-child {
    border: 0;
}

tr:nth-child(even) td {background: #EEE}
tr:nth-child(odd) td {background: #FFF}


th:hover .resize-handle {
    opacity: 0.3;
}

td {
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
    color: #808080;
}

